body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bg {
  /* The image used */
  background-image: url("photo/DSC_0661.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  border-spacing: 10pt 10pt;
  border-collapse: separate;
}

.caption {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption .border {

  background-color: #2168;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 15px;
}


.caption .description {
  background-color: #6666CC99;
  color: #fff;
  padding: 18px;
  font-size: 16px;
  letter-spacing: 3px;
}

.button {
  background-color: #666699BB;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  min-width: 100px;

}

.caption .container {
  display: inline-flex;
  align-items: center;
  justify-content: center
  border: 2px solid black;
  max-width: 800px
}







