
footer {
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
  color:rgb(0, 0, 0);
  padding:0 10px;
  text-align: right;
  opacity: 0.3;
}

footer a {
    text-decoration: none;
	border: 0 none;
}
footer img {
    width:36px;
}