
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background-color: #fff;
  overflow-x: hidden; //horizontal
}

h1 {
    text-align:center;
    margin: 0;
}

h2 {
    text-align:center;
    position:relative;
    margin: 3px ;

}

/* Slideshow container */
.slideshowContainer {
  z-index:2;
  max-width: 1100px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next, .bottom, .top {
  cursor: pointer;
  position: absolute;

  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #e6e6e6;
  opacity:0.3;
}

.prev {
    top: 50%;
}
/* Position the "next button" to the right */
.next {
  top: 50%;
  right: 0;
}

.bottom {
    right: 50%;
    top:95%;
    position: center;
}

.top {
    right:50%;
    top:05%;
    position: center;
}

img {
    width:100%;
}


/* On hover, add a grey background color */
.prev:hover, .next:hover, .bottom:hover, .top:hover {
  background-color: #f1f1f1;
  color: black;
  opacity:0.9
}