body,
html {
    margin: 0 ;
    font: 400 15px/1.8 "Lato", sans-serif;

}
.body {
    padding:12px;
    line-height: 1.6;
    font-size: 18px;
    max-width: 650px;
    margin: 40px auto;
    color: #444;
    text-align: justify;
}

.date {
    color: rgb(119, 115, 115);
    font-size: 16px;
    position: absolute;
    bottom:2px;
    right:5px;
}

.lien {
    text-decoration: none; 
    color: #444;
}

.linkbox {
    position:relative;
    padding:8px;
    max-width:500px;
    min-height:100px;
    border:none;
    background-color:#6666CC99;
}

br {
    content: " ";
    display: block;
    margin: 15px 0;
 }